<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
  <title>{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500|Material+Icons' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.github.url }}/thirdparty/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.github.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.github.url }}">
  <script src="{{ site.github.url }}/thirdparty/codemirror/lib/codemirror.js"></script>
  <script src="{{ site.github.url }}/thirdparty/codemirror/mode/clike/clike.js"></script>
  <script src="{{ site.github.url }}/thirdparty/codemirror/mode/swift/swift.js"></script>
  <script src="{{ site.github.url }}/thirdparty/codemirror/mode/shell/shell.js"></script>
  <script src="{{ site.github.url }}/thirdparty/codemirror/mode/ruby/ruby.js"></script>
  <script src='{{ site.github.url }}/js/mdccoderender.js'></script>
</head>
