# Copyright 2020-present The Material Foundation Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Common flags for all builds
build --verbose_failures  # Print the full command line for commands that failed.
build --test_output=errors  # Prints log file output to the console on failure.

# Platform-specific flags
build --apple_platform_type=ios  # Build for iOS by default.

# Swift-specific features: https://github.com/bazelbuild/rules_swift/blob/master/swift/internal/features.bzl
build --features=swift.enable_batch_mode  # Intended to speed up non-incremental non-WMO builds.
build --features=swift.use_global_module_cache  # Use the same global Clang module as ObjC targets.
