language: objective-c
osx_image: xcode8.3
sudo: false

# Only do a shallow clone of our Git repo.
# https://docs.travis-ci.com/user/customizing-the-build#Git-Clone-Depth
git:
  depth: 3

# Only fire off builds for specific branches.
branches:
  only:
    - develop
    - stable
    - /^feature-.*$/
    - release-candidate

env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  matrix:
    - DESTINATION="platform=iOS Simulator,name=iPhone 7,OS=10.3.1" SDK="iphonesimulator10.3.1"
    # The iPhone 5 was chosen because it is a 32-bit device.
    # 8.1 was chosen because it is the earliest iOS offered here.
    - DESTINATION="platform=iOS Simulator,name=iPhone 5,OS=8.1" SDK="iphonesimulator8.1"
    # The iPad Pro 12.9 was chosen because it is the largest resolution we can test on.
    # 9.3 was chosen to round out the range of iOS versions we are testing on.
    - DESTINATION="platform=iOS Simulator,name=iPad Pro (12.9-inch),OS=9.3" SDK="iphonesimulator9.3"

before_install:
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet

# The travis_wait prefix ensures that the build doesn't error out because too much time went past
# without any output being produced.
#
# Note that we only test unit tests in an attempt to get reasonable performance out of Travis CI.
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - pod --version
  - scripts/prep_all
  - travis_wait scripts/build_all --verbose
  - travis_wait travis_retry scripts/test_all catalog/MDCCatalog.xcworkspace:MDCUnitTests

# Upload our testing coverage to codecov.io.
after_success:
  - bash <(curl -s https://codecov.io/bash)
