# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
**       @material-components/core-ios-team

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
/components/ActionSheet                     @jverkoey @codeman7 @ianegordon
/components/ActivityIndicator               @jverkoey @randallli @ianegordon
/components/AnimationTiming                 @jverkoey @codeman7 
/components/AppBar                          @jverkoey @randallli 
/components/Backdrop 
/components/Banner 
/components/BottomAppBar                    @ianegordon
/components/BottomNavigation                @codeman7 @andrewoverton @ianegordon
/components/BottomSheet                     @jverkoey @codeman7 @yarneo @ianegordon
/components/ButtonBar                       @jverkoey @yarneo 
/components/Buttons                         @jverkoey @randallli @codeman7 @andrewoverton @yarneo 
/components/Cards                           @jverkoey @andrewoverton @yarneo @ianegordon
/components/Checkboxes                      @ianegordon
/components/Chips                           @codeman7 
/components/CollectionCells                 @yarneo @ianegordon
/components/CollectionLayoutAttributes 
/components/Collections                     @ianegordon
/components/DataTables 
/components/Dialogs                         @jverkoey @galiak11 @randallli @codeman7 @ianegordon
/components/Dividers 
/components/FeatureHighlight                @codeman7 @ianegordon
/components/FlexibleHeader                  @jverkoey 
/components/HeaderStackView                 @jverkoey 
/components/ImageList 
/components/Ink                             @jverkoey @codeman7 @andrewoverton @yarneo @ianegordon
/components/LibraryInfo                     @jverkoey @ianegordon
/components/List                            @jverkoey @andrewoverton @ianegordon
/components/MaskedTransition                @jverkoey @codeman7 
/components/Menus                           @ianegordon
/components/NavigationBar                   @jverkoey @ianegordon
/components/NavigationDrawer                @andrewoverton @yarneo 
/components/OverlayWindow                   @yarneo 
/components/PageControl 
/components/Palettes                        @jverkoey @randallli @codeman7 @romoore 
/components/private/Application             @jverkoey @ianegordon
/components/private/Dragons                 @andrewoverton @yarneo @ianegordon
/components/private/Icons                   @jverkoey @ianegordon
/components/private/KeyboardWatcher         @ianegordon
/components/private/Math                    @jverkoey @romoore @ianegordon
/components/private/Overlay 
/components/private/ShapeLibrary            @yarneo 
/components/private/Shapes                  @yarneo 
/components/private/ThumbTrack              @ianegordon
/components/private/UIMetrics               @jverkoey 
/components/ProgressView                    @jverkoey @ianegordon
/components/RadioButton                     @ianegordon
/components/schemes/Bidirectionality        @ianegordon
/components/schemes/Color                   @jverkoey @galiak11 @randallli @codeman7 @romoore @yarneo @ianegordon
/components/schemes/Shape                   @yarneo 
/components/schemes/Typography              @jverkoey @codeman7 @ianegordon
/components/ShadowElevations                @jverkoey @codeman7 @romoore @yarneo @ianegordon
/components/ShadowLayer                     @jverkoey @codeman7 @yarneo @ianegordon
/components/SideSheet                       @ianegordon
/components/Slider                          @randallli @ianegordon
/components/Snackbar                        @yarneo 
/components/Switch                          @ianegordon
/components/Tabs                            @ianegordon
/components/TextFields                      @andrewoverton 
/components/Themes                          @jverkoey @galiak11 @randallli @ianegordon
/components/Tooltips 
/components/Typography                      @jverkoey @randallli @codeman7 @andrewoverton @ianegordon
