
// The footer icons
footer {
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
  }

  .icon-anchor {
    width: 48px;
    height: 48px;
    line-height: 0;
    display: inline-block;
  }
  .icon-anchor:hover .icon {
    opacity: 1;
  }

  .icon.twitter {
    background-image: url(/images/icon-twitter.svg);
    opacity: 0.54;
  }
  .icon.googleplus {
    background-image: url(/images/icon-googleplus.svg);
    opacity: 0.54;
  }
  .icon.youtube {
    background-image: url(/images/icon-youtube.svg);
    opacity: 0.54;
  }

}

// The icon wrapping list style
ul.icon-list {
  margin-top: 32px;
  list-style-type: none;
  padding-left: 0;
}

ul.icon-list>li {
  display: inline-block;
  vertical-align: baseline;
  min-width: 280px;
  width: 45%;
  padding-right: 24px;
  height: 56px;
  margin: 0;

  &>p {
    position: relative;
    line-height: 24px;
    background: transparent;

    a {
      display: inline-block;
      position: relative;
      padding-left: 54px;
      color: $text-color;

      &:hover {
        color: $anchor-color;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      left: 0px;
      top: -4px;
      border: 1px solid rgb(0,0,0);
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      opacity: 0.54;
      @include transform(translate3d(0,0,0));
    }
    &.icon-guide:before {
      background-image: url('/images/icon-guide.svg');
    }
    &.icon-api:before {
      background-image: url('/images/icon-api.svg');
    }
    &.icon-sample:before {
      background-image: url('/images/icon-sample.svg');
    }
  }
  @include mobile {
    width: 100%;
    // &>p {
    //   padding-left: 0px;
    //   line-height: 20px;
    //   &::before {
    //     display: none;
    //   }
    // }
  }
}
ul.icon-list:after {
  content:'';
  display: block;
  clear: both;
}

// icon-link works like the list format, but can be attached to a single link item.
p.icon-link {
  position: relative;
  line-height: 24px;
  margin: 64px 0 28px 0;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: -4px;
    border: 1px solid rgb(0,0,0);
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.54;
    @include transform(translate3d(0,0,0));
  }

  a {
    color: $text-color;
    padding-left: 54px;
    display: inline-block;
    position: relative;

    &:hover {
      color: $anchor-color;
    }
  }
  a:hover {
    color: $anchor-color;
  }
}






// Icons attached to heading text
h1.icon,
h2.icon {

  &:before {
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    margin: 40px 0 28px 0;
    border: 1px solid rgb(0,0,0);
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.54;
    @include transform(translate3d(0,0,0));
  }
}

h1.icon {
  &:before {
    margin: 116px 0 28px 0;
  }
}

