
// The footer icons
footer {
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
  }

  .icon-anchor {
    width: 48px;
    height: 48px;
    line-height: 0;
    display: inline-block;
  }
  .icon-anchor:hover .icon {
    opacity: 1;
  }

  .icon.twitter {
    background-image: url(/images/icon-twitter.svg);
    opacity: 0.54;
  }
  .icon.googleplus {
    background-image: url(/images/icon-googleplus.svg);
    opacity: 0.54;
  }
  .icon.youtube {
    background-image: url(/images/icon-youtube.svg);
    opacity: 0.54;
  }

}

// The icon wrapping list style
ul.icon-list {
  margin-top: 32px;
  margin-bottom: -16px;
  list-style-type: none;
  padding-left: 0;
  line-height: 0;
  font-size: 0;

  &.large-format > li {
    height: auto;
    padding-bottom: 24px;
    font-weight: 400;

    a {
      &::before {
        top: 20px;
      }
    }
  }

  & > li {
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    width: 50%;
    height: 56px;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;


    // Sometimes these are wrapped in a p, sometimes not.
    // We're using the anchor as the block container of truth.
    & > p {
      margin: 0;
      padding: 0;
      line-height: inherit;
    }



    a {
      padding-right: 48px;
      position: relative;
      background: transparent;
      display: inline-block;
      position: relative;
      padding-left: 54px;
      color: $text-color;

      &:hover {
        color: $anchor-color;
      }

      // convention is to use strong to separate link title in
      // icon links containing descriptive copy
      strong {
        display: block;
        color: inherit;
        font-weight: 500;
      }

      &::before {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0px;
        top: -4px;
        border: 1px solid rgb(0,0,0);
        border-radius: 50%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        opacity: 0.54;
        @include transform(translate3d(0,0,0));
      }
    }

    @include mobile {
      width: 100%;
      // &>p {
      //   padding-left: 0px;
      //   line-height: 20px;
      //   &::before {
      //     display: none;
      //   }
      // }
    }
  }
}

// Icon styles used in icon-list
ul.icon-list {
  a[target='_blank']::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/open_in_new_24px.svg);
  }
  .icon-link a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/link_24px.svg);
  }
  .icon-stackoverflow a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/help_24px.svg);
  }
  .icon-github a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/help_24px.svg);
  }
  .icon-guide a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/class_24px.svg);
  }
  .icon-sample a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/help_24px.svg);
  }
  .icon-components a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/list_24px.svg);
  }
  .icon-api a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/help_24px.svg);
  }
  .icon-community a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/people_24px.svg);
  }
  .icon-appbar a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/view_module_24px.svg);
  }
  .icon-buttonbar a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/touch_app_24px.svg);
  }
  .icon-buttons a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/call_to_action_24px.svg);
  }
  .icon-collections a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/view_module_24px.svg);
  }
  .icon-flexibleheader a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/image_aspect_ratio_24px.svg);
  }
  .icon-headerstackview a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/view_day_24px.svg);
  }
  .icon-ink a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/opacity_24px.svg);
  }
  .icon-navigationbar a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/help_24px.svg);
  }
  .icon-pagecontrol a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/filter_none_24px.svg);
  }
  .icon-shadowelevations a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/flip_to_front_24px.svg);
  }
  .icon-shadowlayer a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/wb_iridescent_24px.svg);
  }
  .icon-slider a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/tune_24px.svg);
  }
  .icon-switch a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/help_24px.svg);
  }
  .icon-typography a::before {
    background-image: url(https://www.gstatic.com/images/icons/material/system/svg/text_fields_24px.svg);
  }
}

ul.icon-list>li {
}
ul.icon-list:after {
  content:'';
  display: block;
  clear: left;
}



// Icons attached to heading text
h1.icon,
h2.icon {

  &:before {
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    margin: 40px 0 28px 0;
    border: 1px solid rgb(0,0,0);
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.54;
    @include transform(translate3d(0,0,0));
  }
}

h1.icon {
  &:before {
    margin: 116px 0 28px 0;
  }
}

