<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.google.MaterialComponents.singleViewApplication</string>
    <key>Ancestors</key>
    <array>
        <string>com.google.MaterialComponents.cocoaTouchApplicationBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Name</key>
    <string>Single View Application</string>
    <key>Description</key>
    <string>This template provides a starting point for an application that uses a single view.</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>Macros</key>
    <dict>
        <key>GOOGLE_COPYRIGHT</key>
        <string>/*
 Copyright 2015-present Google Inc. All Rights Reserved.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 */</string>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>main.m</string>
                        <string>AppDelegate.h</string>
                        <string>AppDelegate.m</string>
                        <string>ViewController.h</string>
                        <string>ViewController.m</string>
                        <string>../src/Material___PACKAGENAMEASIDENTIFIER___.h</string>
                        <string>../src/MDC___PACKAGENAMEASIDENTIFIER___.h</string>
                        <string>../src/MDC___PACKAGENAMEASIDENTIFIER___.m</string>
                        <string>../README.md</string>
                        <string>../.jazzy.yaml</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>main.m</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Supporting Files</string>
                            </array>
                            <key>Path</key>
                            <string>../File Templates/objc/main.m</string>
                        </dict>
                        <key>AppDelegate.h</key>
                        <dict>
                            <key>Path</key>
                            <string>../File Templates/objc/AppDelegate.h</string>
                        </dict>
                        <key>AppDelegate.m</key>
                        <dict>
                            <key>Path</key>
                            <string>../File Templates/objc/AppDelegate.m</string>
                        </dict>
                        <key>ViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>../File Templates/objc/ViewController.h</string>
                        </dict>
                        <key>ViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>../File Templates/objc/ViewController.m</string>
                        </dict>
                        <key>../src/Material___PACKAGENAMEASIDENTIFIER___.h</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Material Components</string>
                            </array>
                            <key>Path</key>
                            <string>../File Templates/objc/src/Material___PACKAGENAMEASIDENTIFIER___.h</string>
                        </dict>
                        <key>../src/MDC___PACKAGENAMEASIDENTIFIER___.h</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Material Components</string>
                            </array>
                            <key>Path</key>
                            <string>../File Templates/objc/src/MDC___PACKAGENAMEASIDENTIFIER___.h</string>
                        </dict>
                        <key>../src/MDC___PACKAGENAMEASIDENTIFIER___.m</key>
                        <dict>
                            <key>Group</key>
                            <array>
                                <string>Material Components</string>
                            </array>
                            <key>Path</key>
                            <string>../File Templates/objc/src/MDC___PACKAGENAMEASIDENTIFIER___.m</string>
                        </dict>
                        <key>../README.md</key>
                        <dict>
                            <key>Path</key>
                            <string>../File Templates/objc/README.md</string>
                            <key>TargetIndices</key>
                            <array/>
                        </dict>
                        <key>../.jazzy.yaml</key>
                        <dict>
                            <key>Path</key>
                            <string>../File Templates/objc/.jazzy.yaml</string>
                            <key>TargetIndices</key>
                            <array/>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>