WARNING_CFLAGS = $(inherited) -Wall -Wcast-align -Wconversion -Werror -Wextra -Wimplicit-atomic-properties -Wmissing-prototypes -Wnewline-eof -Wno-error=deprecated -Wno-error=deprecated-implementations -Wno-sign-conversion -Woverlength-strings -Wshadow -Wstrict-selector-match -Wundeclared-selector -Wunreachable-code -Wstrict-prototypes -Wunused-comparison -Wunused-const-variable -Wunused-exception-parameter -Wunused-function -Wunused-label -Wunused-member-function -Wunused-private-field -Wunused-property-ivar -Wunused-result -Wunused-value -Wunused-variable -Wunused-volatile-lvalue -Wused-but-marked-unused
