// This enables a large set of warnings then selectively disables ones we are choosing to ignore.
// To use (as of Xcode 7.1):
// - Add this file to your Project
// - Under PROJECT - Info, set the configuration file to MDCStrictCompilerWarnings for one or more
//   of the Configurations (Debug and/or Release)
// - Under PROJECT - Build Settings - Custom Compiler Flags - Other Warning Flags, add
//   $(MDC_STRICT_WARNING_CFLAGS)
MDC_ENABLED_WARNINGS = -Weverything
MDC_DISABLED_WARNINGS = -Wno-objc-missing-property-synthesis -Wno-direct-ivar-access -Wno-gnu-statement-expression -Wno-auto-import
MDC_STRICT_WARNING_CFLAGS = $(MDC_ENABLED_WARNINGS) $(MDC_DISABLED_WARNINGS)
