<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainPalette</key>
	<dict>
		<key>primaryColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.92156863212585449</real>
			<key>green</key>
			<real>0.46666666865348816</real>
			<key>red</key>
			<real>0.070588238537311554</real>
		</dict>
		<key>primaryLightColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>green</key>
			<real>0.94901961088180542</real>
			<key>red</key>
			<real>0.65882354974746704</real>
		</dict>
		<key>primaryDarkColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.63921570777893066</real>
			<key>green</key>
			<real>0.16078431904315948</real>
			<key>red</key>
			<real>0.047058824449777603</real>
		</dict>
		<key>secondaryColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.0</real>
			<key>green</key>
			<real>0.62352943420410156</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>secondaryLightColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.0</real>
			<key>green</key>
			<real>0.45098039507865906</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>secondaryDarkColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.0</real>
			<key>green</key>
			<real>0.7450980544090271</real>
			<key>red</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
