<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primaryPalette</key>
	<dict>
		<key>primaryColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.99093878269195557</real>
			<key>green</key>
			<real>0.0</real>
			<key>red</key>
			<real>0.75186014175415039</real>
		</dict>
		<key>primaryDarkColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.78431373834609985</real>
			<key>green</key>
			<real>0.0</real>
			<key>red</key>
			<real>0.53333336114883423</real>
		</dict>
		<key>primaryLightColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>green</key>
			<real>0.34117648005485535</real>
			<key>red</key>
			<real>0.96470588445663452</real>
		</dict>
	</dict>
	<key>secondaryPalette</key>
	<dict>
		<key>secondaryColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.11054033041000366</real>
			<key>green</key>
			<real>0.6802094578742981</real>
			<key>red</key>
			<real>0.99093878269195557</real>
		</dict>
		<key>secondaryDarkColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.0</real>
			<key>green</key>
			<real>0.49411764740943909</real>
			<key>red</key>
			<real>0.76862746477127075</real>
		</dict>
		<key>secondaryLightColor</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.33725491166114807</real>
			<key>green</key>
			<real>0.87450981140136719</real>
			<key>red</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
